*.docx
*.pdf
Resume/Low Level/Datasets/Resume/Resume.csv
*.mp4
*.wav
__pycache__/
*.rar
.ipynb_checkpoints
Resume/Low Level/Datasets/CHS 22 CV’s.zip
Resume/Low Level/V3/Ahmed_Osama_Mentor.html
Resume/Low Level/V3/CHS 22 CV’s/AyaElsackaan_Resume.csv
Resume/Low Level/V3/CHS 22 CV’s/MariamElkhashab.csv
Resume/Low Level/V3/CHS 22 CV’s/Maram_Hosni_CV.csv
Resume/Low Level/V3/15858254.csv
Resume/Low Level/V3/CHS 22 CV’s/Abdelrahman Shahda_s Cv.csv
Resume/Integration/CHS/Abdelrahman Shahda_s Cv.csv
Resume/Integration/CHS/AyaElsackaan_Resume.csv
Resume/Integration/CHS/Maram_Hosni_CV.csv
Resume/Integration/CHS/MariamElkhashab.csv
Resume/Integration/15858254.csv
